{% extends 'base.html' %}
{% block content %}

<div class="container" style="background-color:green;color:white;padding:40px;margin:auto;text-align:center;width:35%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <h1 class="display-1">About</h1>
        <h3 class="display-3">Acme Business Directory</h3>
</div>

<div class="container" style="background-color:white;color:black;padding:40px;margin:auto;text-align:center;width:35%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <p>This directory is for businesses who which to find other firms and also for consumers who seeking a particular service or product.</p> 
    <p>It is <a href="{{ url_for('signup') }}"><strong>free to register</strong></a> your company and free to search for businesses.</p> 
    <p>There are many categories to search within. Users can either perform a wide general search or search a particular category or area.</p>
</div>

{% endblock %}