{% extends 'base.html' %}
{% block content %}

<div class="container">
<div style="background-color:green;color:white;padding:20px;text-align:center">
    <h2 class="display-2">Contact us</h2>
</div>
</div>

<div class="container">
    <div style=color:black;padding:15px;text-align:center;background-color:#ffffff;opacity:0.6;">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Do you have any questions?</h2>
    <!--Section description-->
    <p class="text-center w-responsive font-weight-bold mx-auto mb-5">Please do not hesitate to contact us. We will reply to you as soon as possible.</p>
    </div>
</div>


<div class="container">
<div style="background-color:green;color:white;padding:20px;text-align:left">
<form>
<div class="form-group">
    <label for="exampleInputName">Your name</label>
    <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="e.g. Aisling O'Toole">
  </div>
  <div class="form-group">
    <label for="exampleInputBusiness">Business name</label>
    <input type="text" class="form-control" id="exampleInputBusiness" aria-describedby="businessHelp" placeholder="Enter the name of your business">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">E-mail address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="info@mycompany.com">
    <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="telephoneNumber">Telephone number</label>
    <input type="text" class="form-control" id="telephoneNumber" placeholder="021 1234567">
  </div>
  <div class="form-group">
    <label for="subject">Subject</label>
    <input type="text" class="form-control" id="subject" aria-describedby="subjectHelp">
  </div>
  <div class="form-group">
    <label class="exampleText" for="yourMessage">Your message</label>
    <br>
    <textarea type="text" id="message" name="message" rows="4" class="form-control md-textarea" placeholder="Write your message here..."></textarea>
    </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
</div>
</div>


{% endblock %}