{% extends 'base.html' %} 
{% block content %}

<div class="container" style="width:600px;background-color:green;color:white;padding:20px;text-align:center">
    <h2 class="display-2">Add a listing</h2>
</div>


<div class="container" style="width:600px;margin: 0 auto;background-color:white;color:black;padding:10px;text-align:left">

<form action='/addlisting' method='post' enctype="multipart/form-data" style="width:500px;margin: 0 auto;">
<strong>ABOUT</strong>  
<div class="form-row">
      <label>What is the name of your business?</label>
      <input type="text" required class="form-control" name="business_name">
</div>
<br>
<strong>LOCATION</strong>
<p>Where is your business located?</p>
    <div class="form-row">
            <label style="font-weight: bold">Address</label>
            <input type="text" required class="form-control" name="address" placeholder="12 Main St">
    </div>
    <div class="form-row">
            <label style="font-weight: bold">Address 2</label>
            <input type="text" class="form-control" name="address2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
            <label style="font-weight: bold">City/County</label>
            <input type="text" required class="form-control" name="inputCity">
    </div>
    <div class="form-row">
            <label style="font-weight: bold">Postal code</label>
            <input type="text" required class="form-control" name="inputCode">
    </div>
    <div class="form-row">
      <label style="font-weight: bold">Country</label>
      <input type="text" required class="form-control" name="Country">
    </div>

<div>
<br>
<strong>CONTACT DETAILS</strong>
<p>How can customers contact you?</p> 
    <div class="form-row">
      <label style="font-weight: bold">Telephone number</label>
      <input type="number" required class="form-control" name="telephone" placeholder="021 1234567">
    </div>
      <div class="form-row">
      <label style="font-weight:bold">E-mail address</label>
      <input type="email" required class="form-control" name="email" placeholder="info@mycompany.com">
    </div>
      <div class="form-row">
      <label style="font-weight: bold">Website</label>
      <input type="text" required class="form-control" name="website" placeholder="www.mycompany.com">
    </div>
</div>
<br>
<strong>OPENING HOURS</strong>
<p>What days and hours does your business operate on?</p>

{% for day in ["Monday-Friday","Saturday","Sunday", "All days"]%}
<input type="checkbox" name="{{day}}" value="{{day}}">
<label>{{day}}</label>
<select name="startTime{{day}}">
{% for i in range(24) %}
<option value="{{i}}.00">{{i}}.00</option>
{% endfor %}
</select>
<select name="endTime{{day}}">
{% for i in range(24) %}
<option value="{{i}}.00">{{i}}.00</option>
{% endfor %}
</select>
<br>
{% endfor %}
<br>
<br>

<strong>DESCRIPTION</strong>
<p>Describe your business. What product or service does your business offer?</p>
  <div>
      <textarea name="about" rows="5" cols="70"></textarea>
  </div>
<br>
<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Add this listing</button>
</form>
</div>

{% endblock %}