{% extends 'base.html' %}
{% block content %}

<div class="container">
<div style="background-color:green;color:white;padding:20px;text-align:center">
    <h2 class="display-2">Delete your listing</h2>
</div>
</div>

<div class="container">
<div style="background-color:tomato;color:white;padding:20px;text-align:left">
        {% for task in tasks %}
            {{task.business_name}}
            {{task.address}}
            {{task.website}}
            {{task.telephone}}
            {{task.email}}
            {{task.hours}}
            {{task.about}}
        {% endfor %}
</div>
</div>


{% endblock %}