{% extends 'base.html' %} 
{% block content %}

<div class="container">
<div style="background-color:green;color:white;padding:20px;text-align:center">
    <h2 class="display-2">Edit your listing</h2>
</div>
</div>


<div class="container">
<div style="background-color:whitesmoke;color:black;padding:10px;text-align:left">
<strong>ABOUT</strong>
<form action='/editlisting' method='post' enctype="multipart/form-data">
  <div class="form-row">
      <label for="inputName">What is the name of your business?</label>
      <input type="text" required class="form-control" name="business_name" value="{{data.business_name}}">
</div>
<br>
<strong>LOCATION</strong>
<p>Where is your business located?</p>
    <div class="form-row">
            <label for="inputAddress" style="font-weight: bold">Address</label>
            <input type="text" required class="form-control" name="address" placeholder="12 Main St" value="{{data.address}}">
    </div>
    <div class="form-row">
            <label for="inputAddress2" style="font-weight: bold">Address 2</label>
            <input type="text" class="form-control" name="address2" placeholder="Apartment, studio, or floor" value="{{data.address2}}">
    </div>
    <div class="form-row">
            <label for="inputCity" style="font-weight: bold">City/County</label>
            <input type="text" required class="form-control" name="inputCity" value="{{data.inputCity}}">
    </div>
    <div class="form-row">
            <label for="inputCode" style="font-weight: bold">Postal code</label>
            <input type="text" required class="form-control" name="inputCode" value="{{data.inputCode}}">
    </div>
    <div class="form-row">
      <label for="inputCode" style="font-weight: bold">Country</label>
      <input type="text" required class="form-control" name="Country" value="{{data.country}}">
    </div>

<div>
<br>
<strong>CONTACT DETAILS</strong>
<p>How can customers contact you?</p> 
    <div class="form-row">
      <label for="Telephone" style="font-weight: bold">Telephone number</label>
      <input type="number" required class="form-control" name="telephone" placeholder="021 1234567" value="{{data.telephone}}">
    </div>
      <div class="form-row">
      <label for="inputEmail4" style="font-weight: bold">E-mail address</label>
      <input type="email" required class="form-control" name="email" placeholder="info@mycompany.com" value="{{data.email}}">
    </div>
      <div class="form-row">
      <label for="inputEmail4"style="font-weight: bold">Website</label>
      <input type="text" required class="form-control" name="website" placeholder="www.mycompany.com" value="{{data.website}}">
    </div>
</div>
<br>
<strong>OPENING HOURS</strong>
<p>What days does your business operate on?</p>
  <input type="checkbox" name="monday" value="Monday">
  <label for="monday"> Monday</label>
    <select name="cars" id="cars">
    <option value="volvo">10.00</option>
    <option value="saab">12.00</option>
    <option value="opel">18.00</option>
    <option value="audi">22.00</option>
  </select><br>
  <input type="checkbox" name="tuesday" value="Tuesday">
  <label for="tuesday"> Tuesday</label><br>
  <input type="checkbox" name="wednesday" value="Wednesday">
  <label for="wednesday"> Wednesday</label><br>
  <input type="checkbox" name="thursday" value="Thursday">
  <label for="thursday"> Thursday</label><br>
  <input type="checkbox" name="friday" value="Friday">
  <label for="friday"> Friday</label><br>
  <input type="checkbox" name="saturday" value="Saturday">
  <label for="saturday"> Saturday</label><br>
  <input type="checkbox" name="sunday" value="Sunday">
  <label for="sunday"> Sunday</label><br>
  <input type="checkbox" name="all_days" value="All days">
  <label for="all_days"> All days</label><br>
<br>
<strong>DESCRIPTION</strong>
<p>Describe your business. What product or service does your business offer?</p>
  <div class="form-row">
      <label for="about" required type="textarea" style="font-weight: bold"> </label>
      <br>
      <textarea name="about" rows="5" cols="150"></textarea>
  </div>
<br>
<strong>Image or logo</strong>
<p>(optional)</p>
<p>Click on the "Choose File" button to upload a image file:</p>
<input type="file" name="image">
<br>
<button type="submit" class="btn btn-sm btn-primary mr-1"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>

<a class="btn btn-sm btn-danger" href="/mylisting"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
</form>
</div>
</div>

{% endblock %}