{% extends 'base.html' %}
{% block content %}

<!-- Search box -->
<div class="container">
    <div style="background-color:green;color:white;padding:40px;margin:auto;text-align:center;width:35%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

<!-- Log in form -->
{% if send %}
    A password reminder has been to sent to {{email}}.
    <br>
    Make sure to also check your spam folder.
{% else %}
    <h3>Have your forgotten your password?</h3>
    <form class="text-left" action="/forgotemail" method="post">
        <div class="form-row mb-4">
            <div class="col">
                <!-- User name -->
                <label>E-mail address</label>
                <input type="email" name="email" required class="form-control" placeholder="Enter your e-mail address here">
            </div>
        </div>
        <!-- Enter button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Send me my password</button>
    </form>
{% endif %}    

</div>
</div>


{% endblock %}
