{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div style="background-color:transparent;color:green;padding:20px;margin:25px;text-align:center">
        <div>
                <h1>What are you looking for?</h1>
        </div>
                <form method="post" action="/search">
                    <input type="text" style="color:black;width:50%;border-radius:5px;padding:7px" placeholder="I'm looking for..." name="search">
                        <button type="submit" class="btn btn-warning" style="border-radius:5px;padding:7px">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                </form>
    </div>
</div>

<div style="display:flex;flex-wrap:wrap;justify-content:center">
{% for task in tasks %}

<div class="container" style="background-color:white;color:black;padding:30px;text-align:left;border:1px solid lightgray;border-radius:3px;margin:10px;width:300px">
        <div class="form-group">
           <h4><i class="fa fa-info" aria-hidden="true"></i><strong> {{task.business_name}}</strong></h4>
        </div>
        <div class="form-group">
            <i class="fa fa-home" aria-hidden="true"></i> {{task.address}}
            <br>
            {{task.address2}}
            <br>
            {{task.inputCity}}
            <br>
            {{task.inputCode}}
            <br>
            {{task.Country}} 
        </div>
        <div class="form-group">
            <i class="fa fa-phone" aria-hidden="true"></i> {{task.telephone}}
        </div>
        <div class="form-group">
            <i class="fa fa-laptop" aria-hidden="true"></i> {{task.website}}
        </div>
        <div class="form-group">
            <i class="fa fa-envelope" aria-hidden="true"></i> {{task.email}}  
        </div>
        <div class="form-group">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <br>
            {% for day in ["Monday-Friday","Saturday","Sunday","All days"] %}
        {% if task[day] and task["endTime"+day]!="0.00" %}
        {{day}}: {{task["startTime"+day]}}-{{task["endTime"+day]}}<br/>
        {% endif %}

        {% if day == "Monday-Friday" and today >0 and today<6 and task["Monday-Friday"] and task["endTime"+day]!="0.00" %}

        {% if int(task["startTime"+day])<now and int(task["endTime"+day])>now %}
            <div>
            <span style="background-color:green;color:white;padding:5px;margin-top:15px;border-radius:5px;">Open</span>
            </div>
        {% else %}
                <div>
                <span style="background-color:red;color:white;padding:5px;border-radius:5px;">Closed now</span>
                </div>
        {% endif %}
        {% elif day == "Saturday" and today == 6 and task["Saturday"] and task["endTime"+day]!="0.00" %}
        {% if int(task["startTime"+day])<now and int(task["endTime"+day])>now %}
            <div>
            <span style="background-color:green;color:white;padding:5px;margin-top:15px;border-radius:5px;">Open</span>
            </div>
        {% else %}
                <div>
                <span style="background-color:red;color:white;padding:5px;border-radius:5px;">Closed now</span>
                </div>
        {% endif %}
        {% elif day == "Sunday" and today == 0 and task["Sunday"] and task["endTime"+day]!="0.00" %}
        {% if int(task["startTime"+day])<now and int(task["endTime"+day])>now %}
            <div>
            <span style="background-color:green;color:white;padding:5px;margin-top:15px;border-radius:5px;">Open</span>
            </div>
        {% else %}
                <div>
                <span style="background-color:red;color:white;padding:5px;border-radius:5px;">Closed now</span>
                </div>
        {% endif %}
        {% elif day == "All days" and task["All days"] and task["endTime"+day]!="0.00" %}
        {% if int(task["startTime"+day])<now and int(task["endTime"+day])>now %}
            <div>
            <span style="background-color:green;color:white;padding:5px;margin-top:15px;border-radius:5px;">Open</span>
            </div>
        {%else%}
                <div>
                <span style="background-color:red;color:white;padding:5px;border-radius:5px;">Closed now</span>
                </div>
        {%endif%}
{%endif%}
{%endfor%}
        </div>
        <div class="form-group">
            <p><strong>About</strong></p> {{task.about}}  
        </div>
</div>
{% endfor %}
</div>

{% endblock %}