{% extends 'base.html' %}
{% block content %}

<div class="container" style="background-color:green;color:white;margin-top:5%;padding:20px;text-align:center">
    <h3>Log into your account</h3>
<!-- Log in form -->
<form class="text-left" action="/log_in" method="post">
    <div class="form-row mb-4">
            <div class="col">
            <!-- User name -->
            <label for="username">Username / e-mail address</label>
            <input type="text" name="username" class="form-control" placeholder="Enter your username here">
            <label for="name">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
</div>
    <!-- Enter button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Enter</button>
</form>
</div>

{% endblock %}