{% extends 'base.html' %}
{% block content %}

<!-- Search box -->
<div class="container">
    <div style="background-color:green;color:white;padding:40px;margin:auto;text-align:center;width:35%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
     
     {% if loginattempt %}
        <h4>Your credentials were wrong</h4>
        <h6>Please re-enter your username and password or you can <a style="color:white;text-decoration:underline;" href="{{ url_for('signup') }}">register</a>.</h6>
     {% else %}
     <h3>Log into your account</h3>
     {% endif %}
<!-- Log in form -->
<form class="text-left" action="/log_in" method="post">
    <div class="form-row mb-4">
            <div class="col">
            <!-- User name -->
            <label for="username">Username / e-mail address</label>
            <input type="text" name="username" required class="form-control" placeholder="Enter your username here">
            <label for="name">Password</label>
            <input type="password" name="password" required class="form-control" placeholder="Password">
        </div>
    </div>
    <!-- Enter button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Enter</button>
</form>
<a style="text-align:center;color:white;" href="{{ url_for('forgot') }}">Forgotten your password?</a>
</div>
</div>


{% endblock %}
