{% extends 'base.html' %}
{% block content %}

<div class="container" style="background-color:green;color:white;padding:20px;text-align:center">
        <h2 class="display-2">Your listing</h2>
</div>

{% if tasks.count() %}
<div class="container" style="background-color:whitesmoke;color:black;padding:20px;display:flex;flex-wrap:wrap">                
{% for task in tasks %}
    <div style="padding:20px;text-align:left;border:1px solid gray;border-radius:10px;margin:20px;width:800px">
   
        <div class="form-group">
            <h3><i class="fa fa-info" aria-hidden="true"></i> business name</h3>
            {{task.business_name}}   
        </div>
        <div class="form-group">
            <h3><i class="fa fa-home" aria-hidden="true"></i> address</h3>
            {{task.address}}   
        </div>
        <div class="form-group">
            <h3><i class="fa fa-phone" aria-hidden="true"></i> telephone number</h3>
            {{task.telephone}}
        </div>
        <div class="form-group">
            <h3><i class="fa fa-laptop" aria-hidden="true"></i> website</h3>
            {{task.website}}  
        </div>
        <div class="form-group">
            <h3><i class="fa fa-envelope" aria-hidden="true"></i> e-mail address</h3>
            {{task.email}}  
        </div>
        <div class="form-group">
            <h3><i class="fa fa-clock-o" aria-hidden="true"></i> business hours</h3>
            {{task.hours}}  
        </div>
        <div class="form-group">
            <h3>about</h3>
            {{task.about}}  
        </div>

        <form action="/edit" method="post">
            <input name="business_name"  value="{{ task.business_name }}" type="hidden"/>
            <input name="address"  value="{{ task.address }}" type="hidden"/>
            <input name="telephone"  value="{{ task.telephone }}" type="hidden"/>
            <input name="website"  value="{{ task.website }}" type="hidden"/>
            <input name="email"  value="{{ task.email }}" type="hidden"/>
            <input name="hours"  value="{{ task.hours}}" type="hidden"/>
            <input name="about"  value="{{ task.about }}" type="hidden"/>
            <button type="submit" class="btn btn-sm btn-primary">Edit this listing</button>
        </form>

        <form action="/deletelisting" method="post">
            <input name="business_name" value="{{ task.business_name }}" type="hidden"/>
            <button type="submit" class="btn btn-sm btn-primary">Delete this listing</button>
        </form>
    </div>
{% endfor %}
</div>
{% else %}



<div class="container">
    <div style="background-color:whitesmoke;color:black;padding:2px;text-align:left">
        You have not created a listing yet. You can create a new listing <a href="{{ url_for('create') }}">here</a>.
    </div>
</div>
{% endif %}

{% endblock %}