{% extends 'base.html' %}
{% block content %}

<div class="container" style="background-color:green;color:white;padding:40px;margin:auto;text-align:center;width:35%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <h2 class="display-2">Ready to sign up?</h2>
</div>

<div class="container" style="background-color:white;color:black;padding:10px;margin:auto;text-align:center;width:35%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Create an account</h2>
    <p class="text-center w-responsive mx-auto mb-5">Fill out the form below to create an account to begin using the directory.</p>
    <p class="text-center w-responsive mx-auto mb-5">By adding your profile to <strong>Acme Business Directory</strong> and keeping your profile up-to-date, you will be promoting yourself to a huge online audience.</p>
</div>

<div class="container" style="background-color:green;color:white;padding:40px;margin:auto;text-align:center;width:35%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<!-- Sign up form -->
<form class="text-left" action="/register" method="post">

    <div class="form-row mb-4">
            <div class="col">
            <!-- User name -->
            <label for="username">Username</label>
            <input type="text" name="username" required class="form-control" placeholder="Enter a username here">
            <label for="emailaddress">E-mail address</label>
            <input type="email" name="email" required class="form-control" placeholder="Enter an e-mail address">
        </div>
    </div>

<div class="form-row mb-4">
    <div class="col">
            <!-- Password -->
            <label for="name">Create a password</label>
            <input type="password" required name="password" class="form-control" placeholder="Password">
            <label for="name">Retype your password</label>
            <input type="password" required name="password" class="form-control" placeholder="Password">
        </div>
</div>


    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Register</button>

</form>
<a style="text-align:center;">If you already have an account, <a style="color:white;text-decoration:underline;" href="{{ url_for('login') }}">sign in here</a>.
</div>

{% endblock %}